.breadcrumb {}

.breadcrumb-item {
    &+.breadcrumb-item,
    &.active {
        &:before {
            content: none;
        }
    }

    a {}

    .icon {
        width: 1rem;
        height: 1rem;
        transform: rotate(90deg);
    }
}