html {
    font-size: 62.5%;
}
body {
    background-color: $light;
    font-family: $defaultFont;
    font-size: 1.4rem;
}
main {
    padding-top: 7.5rem;
}
.max-width-container {
    max-width: 80rem;
}

i,
a,
a:hover,
a:focus,
a:active,
button {
    color: inherit;
    text-decoration: none;
}

a,button {
    outline: 0!important;
    outline-offset: 0!important;
    outline-style: none!important;
    transition: all 500ms ease;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

a {
    &.disabled {
        pointer-events: none;
        cursor: default;
    }
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

//MS bootstrap scrollbar
@-ms-viewport {
    width: auto !important;
}