{% macro progressBar() %}

    <div class="progress progress--page">
        <div class="progress-bar" 
             role="progressbar" 
             aria-valuenow="" 
             aria-valuemin="0" 
             aria-valuemax="100"
             style=""></div>
    </div>

{% endmacro %}